<!-- TOP NAV BAR -->


<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TEST №1</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>


        <ul *ngIf="isAdmin" class="nav navbar-nav navbar-right">


            <li dropdown class="dropdown">
                <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu">
                  <li><a routerLink="logout" (click)="logout1()" routerLinkActive="active">Logout</a></li>


                </ul>
              </li>

        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


<!--The content below is only a placeholder and can be replaced.-->
<div class="col-md-4 col-md-offset-4">
<div style="text-align:center">
  <h1>
    Welcome to this test app!
  </h1>

</div>
</div>

<router-outlet>

</router-outlet>
