<div class="col-md-3"></div>
<div class="col-md-6">
  <div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissible]="!alert.dismissible" [dismissOnTimeout]="15000">{{ alert.text }}</alert>
  </div>
</div>
<div class="col-md-3"></div>

<div class="row">

<div class="col-md-4"></div>
<div class="col-md-4">

    <div class="row addphone">
          <div class="input-group">
            <input #box type="text" class="form-control" placeholder="Phone number ..." (keyup.enter)="addphone(box.value)" [value]="phoneValue" >
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" (click)="addphone(box.value)">Add phone</button>
            </span>
          </div>

    </div>

    <table class="table text-center">
    <thead>
      <th class="text-right">ID</th>
      <th class="text-center">Phone number</th>
  </thead>

    <tr *ngFor="let phone of phonesKeys
     | count : paginationCallback |  paginate : currentPage : itemsPerPage">
        <td class="text-right">{{phones[phone].id}}</td>
        <td class="text-center" >{{phones[phone].phone}}
          <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="delnum(phones[phone].phone)">
          </span></td>
    </tr>

    </table>
      <div class="text-center">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
         (pageChanged)="currentPage = $event.page" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
         lastText="&raquo;" [maxSize]="paginationMaxSize" [rotate]="false" [itemsPerPage]="itemsPerPage"></pagination>
      </div>

</div>

<div class="col-md-4"></div>
</div>


