.glyphicon {
	margin: 10px 0px 5px 10px;
	font-size: 15px;
  	color: #1F2E54;
}

.glyphicon:hover, .glyphicon:focus {
      color: rgb(240, 37, 37);
      font-size: 16px;

}
.addphone{
    padding-bottom: 5em;
}
